<h1>Editing networking</h1>

<%= render "form", networking: @networking %>

<br>

<div>
  <%= link_to "Show this networking", @networking %> |
  <%= link_to "Back to networkings", networkings_path %>
</div>
